body {
    margin: 0;
    padding: 0;
}
.head {
    height: 50px;
    width: 100%;
    background: #242b2e;
    padding: 5px;
}
.main_nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.main_ul {
    display: flex;
    align-items: center;
}
.main_ul li {
    width: 200px;
    margin-right: 10px;
    list-style: none;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
}
.main_ul li > a {
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}
.main_ul li:hover {
    background:#fff;
}
.main_ul li:hover > a {
    color: #242b2e;
}
.shows {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.show_block {
    width: 300px;
    margin-bottom: 20px;
    animation: show 1s linear infinite;
    transform: scale(1);
    transition: all 0.5s;
}
.image {
    width: 100%;
    height: 300px;
}
.image img {
    width: 100%;
    height: 300px;
}
.content {
    padding-top: 20px;
}
.show_block h3{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 22px;
}
.show_block button {
    width: 100%;
    height: 30px;
    background: #242b2e;
    color: #fff;
    font-family: monospace;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    border: 0;
}
.show_block button:hover {
    background:#0e719b;
    color: orange;
}
.show_block a {
    color: #fff;
}
